
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Forget password</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">-->

    <!-- CSS Libraries -->
    <!-- Template CSS -->
    <!--<link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/components.css">-->


    <style>
        .field-icon {
            float: right;
            margin-left: -25px;
            margin-top: -25px;
            position: relative;
            z-index: 2;
        }

        .container {
            padding-top: 50px;
            margin: auto;
        }

        input[type=checkbox]:not(old) {
            display: inline;
        }

        .Center {
            position: fixed;
            width: 500px;
            height: 200px;
            top: 20%;
            left: 50%;
            margin-top: -100px; /* Negative half of height. */
            margin-left: -250px; /* Negative half of width. */
        }
    </style>
</head>

<body>
    <div id="app">
        <section class="section">
            <div class="d-flex flex-wrap align-items-stretch">
                <div class="col-lg-4 col-md-6 col-12 order-lg-1 min-vh-100 order-2 bg-white  Center">
                    <div class="p-4 m-3">
                        <div class="text-center">
                            <img src="static/assets/img/logo.png" alt="logo" width="100px" style="margin-bottom: 5%">
                        </div>

                        <form id="form_login" class="needs-validation">
                            <div class="row">

                                <div class="col-sm-12 text-secondary text-center font-weight-bold">
                                    <label>Forgot Password</label>
                                </div>
                            </div>
                            <hr>

                            <div class="row">

                                <div class="col-sm-12 text-secondary text-center font-weight-bold">
                                    <label>Enter Mobile to reset password</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-secondary">
                                    <input id="txtmobileNo" type="text" class="form-control" value="" placeholder="Mobile No" name="txtmobileNo" tabindex="1" required autofocus>
                                </div>
                            </div>
                            <hr>

                            <div class="row text-center" style="float:none">

                                <div class="col-sm-12 text-secondary">

                                    <button class="text-center btn btn-primary">Submit</button>
                                </div>
                            </div>
                            <hr>
                        </form>


                    </div>
                </div>
                
            </div>
        </section>
    </div>

    <!-- General JS Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="../assets/js/stisla.js"></script>-->

    <!-- JS Libraies -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="hhttps://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>-->

    <!-- Template JS File -->
    <!--<script src="assets/js/scripts.js"></script>
    <script src="assets/js/custom.js"></script>-->

    <!-- Page Specific JS File -->
    <!--<script src="assets/js/page/components-table.js"></script>-->


    <script>
        $("#form_login").submit(function (event) {
            event.preventDefault();            
            var mobile = $('input[name=txtmobileNo]').val();
            url = "http://dfo.hktech.in/Admin/forgotpassword/";
            $.ajax({
                url: url,
                type: "POST",
                dataType: 'json',
                contentType: "application/json",
                data: '{ "mobile_number" : ' + mobile + '}',
                success: function (response) {
                    alert("Successfully sent email. Please check mail to reset password");
                    window.location.href = "login.html";
                },
                error: function (res) {
                    alert("Failed to reset password");
                }
            });

        });
    </script>
</body>
</html>
